{% extends "layout.html" %}
{% block title %}
    History
{% endblock %}

{% block main %}

{% if not history %}
    <h4>There are no transactions for you right now.</h4>
{% else %}
    <table class="table">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Action</th>
                <th>Value</th>
                <th>Shares</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in history %}
                <tr>
                    <td>{{ transaction.symbol }}</td>
                    <td>{{ transaction.action }}</td>
                    <td>$ {{ transaction.value }}</td>
                    <td>{{ transaction.shares }}</td>
                    <td>{{ transaction.date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

{% endblock %}
